<% if signed_in? %>
  <div class="row clearfix">
    <aside class="col s12 m4 l4 ">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col s12 m8 l8 ">
      <h3>创建你的行程</h3>
      <section>
        <%= render 'shared/schedule_form' %>
      </section>
      <h3>好友动态</h3>
      <section>
        <%= render 'shared/feed' %>
      </section>
    </div>
  </div>
<% else %>

<div class="parallax-container" style="width: 100%">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-2">
        欢迎使用FlyEase
      </h1>
      <div class="row center">
        <h5 class="header col s12 light white-text">
          在这里，轻松规划您的自由行行程
        </h5>
      </div>
      <div class="row center">
        <%= link_to "现在就注册！", signup_path, class: "btn btn-large btn-primary" %>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("http://cdn.regeneration.cn/1504970092002.jpg", alt: "flight")%>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>立即注册试试看吧</h4>
        <p class="center-align light">更多功能正在不断加入中～</p>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="http://cdn.regeneration.cn/1504970092003.jpg" alt="man" style="display: block; transform: translate3d(-50%, 180px, 0px);"></div>
</div>

<% end %>
