<% r_id = rand(999999999999) %>

<ul class="lighten-3">
  <li>
    <h5 class="lighten-3" style="text-align:center">
      <%= daily_item['date'] %>
    </h5>

    <ul class="lighten-1">
      <li>
        <% if daily_item['flight'].size != 0 %>
          <% if daily_item['flight'][0]['price'] != 0 %>
            <h5 class="lighten-1" style="text-align:center">推荐航班： </h5>
            <div class="flight_feed">
              <ul id="flight_feed_<%= r_id %>">
                <% for each in daily_item['flight'] %>
                  <li style="opacity: 0">
                    <%= render partial: 'shared/flight_card', object: each %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% else %>
            <h5 class="lighten-1" style="text-align:center">推荐火车： </h5>
            <div class="rail_feed">
              <ul id="rail_feed_<%= r_id %>">
                <% for each in daily_item['flight'] %>
                  <li style="opacity: 0">
                    <%= render partial: 'shared/rail_card', object: each %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        <% end %>

      </li>
    </ul>

    <ul class="lighten-1">
      <li>
        <% if daily_item['hotel'].size != 0%>
          <h5 class="lighten-1" style="text-align:center">推荐酒店： </h5>
        <% end %>
        <div class="hotel_feed">
          <ul id="hotel_feed_<%= r_id %>">
            <% for each in daily_item['hotel'] %>
              <li style="opacity: 0" >
              <%= render partial: 'shared/hotel_card', object: each %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>

  </li>
</ul>
        
<script type="text/javascript">

(function($){
  $(function(){
    
  var options = [
    {selector: '#flight_feed_<%= r_id %>', offset: 400, callback: function(el) {
      Materialize.showStaggeredList($(el));
    } },
    {selector: '#rail_feed_<%= r_id %>', offset: 400, callback: function(el) {
      Materialize.showStaggeredList($(el));
    } },
    {selector: '#hotel_feed_<%= r_id %>', offset: 400, callback: function(el) {
      Materialize.showStaggeredList($(el));
    } }
  ];
  Materialize.scrollFire(options);

  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
