<div id="flight-card" class="card">
  <div class="card-header orange accent-2">
    <div class="card-title">
      <h5 class="flight-card-title center-align">Flight: <%= flight_card['flight_id'] %></h5>
      <h6 class="center-align"> ---------------------------- </h6>
      <h6 class="flight-card-date center-align">Price: <%= flight_card['price'] %> | Airline:  <%= flight_card['airline'] %></h6>
    </div>
  </div>
  <div class="card-content-bg white-text">
    <div class="card-content">
      <div class="row flight-state-wrapper">
        <div class="col s5 m5 l5 center-align flight-state-one">
          <div class="flight-state">
            <h4 class="margin"><%= flight_card['dept_city'] %></h4>
            <p class="ultra-small"><%= flight_card['dept_airport'] %></p>
          </div>
          <div class="flight-info">
            <p class="small">
              <%= flight_card['dept_date'] %>
              <%= flight_card['dept_time'] %></p>
          </div>
        </div>
        <div class="col s2 m2 l2 center-align">
          <i class="material-icons md-48 ">flight_takeoff</i>
          <br>
          <br>
          <br>
          <br>

          --->
        </div>
        <div class="col s5 m5 l5 center-align flight-state-two">
          <div class="flight-state">
            <h4 class="margin"><%= flight_card['arv_city'] %></h4>
            <p class="ultra-small"><%= flight_card['arv_airport'] %></p>
            
          </div>
          <div class="flight-info">
              <p class="small">
              <%= flight_card['arv_date'] %>  
              <%= flight_card['arv_time'] %></p>
          </div>
        </div>
      </div>  
  </div>
</div>
  </div>