<div id="hotel-card" class="card">
  <div class="card-header light-blue accent-1">
    <div class="card-title">
      <h5 class="hotel-card-title center-align"><%= hotel_card['hotel_name'] %></h5>
    </div>
  </div>
  <div class="card-content-bg white-text">
    <div class="card-content">

      <div class="row hotel-state-wrapper hotel-state-bottom">
        <div class="col s12 m12 l12 center-align ">
          <div class="hotel-state">
            <h4 class="margin">¥<%= hotel_card['hotel_price'] %></h4>
            <h6><%= hotel_card['hotel_address'] %></h6>
          </div>
        </div>
      </div> 

      <div class="row hotel-state-wrapper">
        <div class="col s12 m12 l12 center-align ">
          <div class="hotel-state">
            <h5 class="margin"><%= hotel_card['user_number'] %> 个评价 : <%= hotel_card['hotel_comment'] %></h5>
            <h6><%= hotel_card['dept_airport'] %></h6>
          </div>
          <div class="hotel-info">
            <h5>
              评分: <%= hotel_card['hotel_score'] %>
              <br>
              <%= hotel_card['user_recommend'] %>% 的顾客推荐</h5>
          </div>
        </div>
      </div>

  </div>
</div>
  </div>
