<div class="divider"></div>
<div id="query_for_schedule_status_flag"></div>
<div class="card-panel cyan lighten-5">

<li id="<%= schedule_item.id %>">
  <input class="<%= schedule_item.status %>" type="hidden" value= <%= schedule_item.id %> />
  <span id="<%= schedule_item.id %>_result_span"></span>
  

  <div>
    <% if schedule_item.status == 1 %>

      <% plan = JSON.parse schedule_item.result %>
      <% count = plan['result_num'] %>
      <% min_cost = plan['min_cost'] %>
      <span>
        <h5 class="center-align" >Schedule id: <%= schedule_item.id %></h5>
      </span>
      <span>
        <h5 class="center-align" >Lowest cost: <%= min_cost %>¥</h5>
      </span>

      <%= render partial: 'schedules/result_feed', object: plan %>
    <% end %>
  </div>
  <div class="divider"></div>
  <span>
    <p id = "<%= schedule_item.id %>_result">Status: ---- <%= schedule_item.status_in_words %> ---- </p>
  </span>
  <span class="timestamp">
    <p>Calculating started <%= time_ago_in_words(schedule_item.created_at) %> ago.</p>
  </span>
  <% if current_user?(schedule_item.user) %>
    <%= button_to "delete", schedule_item, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-large btn-primary"%>
  <% end %>
</li>
</div>

