<div class="divider"></div>
<div id="query_for_schedule_status_flag"></div>
<div class="card-panel cyan lighten-5">
<li id="<%= schedule_item.id %>">
  <input class="<%= schedule_item.status %>" type="hidden" value= <%= schedule_item.id %> />
  <span>
    <span>
      Depart date | <%= schedule_item.depart_date %>
    </span>
    <span>
    Depart city | <%= schedule_item.depart_city %>
    </span>
    <div class="divider"></div>
  </span>
  <div class="divider"></div>
  <span id="<%= schedule_item.id %>_result_span">
    
  </span>
  <div class="divider"></div>
  <span>
    <p id = "<%= schedule_item.id %>_result"><%= schedule_item.status_in_words %></p>
  </span>
  <div class="divider"></div>
  <span>
    Return date | <%= schedule_item.final_date %>
  </span>
  <span>
    Return city | <%= schedule_item.final_city %>
  </span>
  <br>
  <span class="timestamp">
    Calculating started <%= time_ago_in_words(schedule_item.created_at) %> ago.
  </span>
  <% if current_user?(schedule_item.user) %>
    <%= link_to "delete", schedule_item, method: :delete, data: { confirm: "You sure?" }%>
  <% end %>
</li>
</div>