<div class="card-panel cyan lighten-5">
<li id="<%= schedule_item.id %>">
  <span>
    <span>
      Depart date | <%= schedule_item.depart_date %>
    </span>
    <span>
    Depart city | <%= schedule_item.depart_city %>
    </span>
    <div class="divider"></div>
  </span>
  <span>
    Via city names:
    <ul>
      <% schedule_item.via_city_names.each do |city| %>
        <li>
          <%= city.city_name %>
        </li>
      <% end %>
    </ul>
  </span>
  <span>
    <%= schedule_item.status_in_words %>
  </span>
  <div class="divider"></div>
  <span>
    Return date | <%= schedule_item.final_date %>
  </span>
  <span>
    Return city | <%= schedule_item.final_city %>
  </span>
  <br>
  <span class="timestamp">
    Calculating started <%= time_ago_in_words(schedule_item.created_at) %> ago.
  </span>
  <% if current_user?(schedule_item.user) %>
    <%= link_to "delete", schedule_item, method: :delete, data: { confirm: "You sure?" }%>
  <% end %>
</li>
</div>