<div class="card-panel green lighten-5">
  <div class="row">
	<div class="col s6">
      <a href="<%= user_path(current_user) %>">
        <%= gravatar_for current_user, size: 52 %>
      </a> 
	</div>
    <div class="col s6">
    </div>
  </div>
  <h1 class="valign">
    <%= current_user.name %>
  </h1>

  <span>
    <%= link_to "进入个人中心", current_user %>
  </span>
  <span>
    <%= pluralize(current_user.microposts.count, "个动态") %>
  </span>
</div>
