<header class="navbar-fixed-top">
  <nav class="green">
    <div class="nav-wrapper container">
      <%= link_to "#", :class => 'button-collapse', 
                       "data-activates" => 'mobile-demo' do%>
         <i class="material-icons right">menu</i>
      <% end %>
      <%= link_to "FlyEase", root_path, class: "brand-logo"%>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "首页", root_path %></li>
        <li><%= link_to "帮助", help_path %></li>

        <% if signed_in? %>
          <ul id="dropdown1" class="dropdown-content">
            <li><%= link_to "个人中心", current_user %></li>
            <li><%= link_to "设置", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
                <%= link_to "退出", signout_path, method: "delete" %>
            </li>
          </ul>
          <li><%= link_to "用户列表", users_path %></li>
          <li><%= link_to "我的行程", schedules_path %></li>
          <li>
            <%= link_to "#", :class => 'dropdown-button', 
                             "data-activates" => 'dropdown1' do%>
              账户
              <i class="material-icons right">arrow_drop_down</i>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "登录", signin_path %></li>
        <% end %>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to "首页", root_path %></li>
        <li><%= link_to "帮助", help_path %></li>
        <% if signed_in? %>
          <li><%= link_to "个人中心", current_user %></li>
          <li><%= link_to "设置", edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "退出", signout_path, method: "delete" %>
          </li>
          <li class="divider"></li>
          <li><%= link_to "用户列表", users_path %></li>
          <li><%= link_to "我的行程", schedules_path %></li>
        <% else %>
          <li><%= link_to "登录", signin_path %></li>
        <% end %>
      </ul>

    </div>
  </nav>
</header>
